<h2 class="d-flex justify-content-center">Hi! A bit of information</h2>
<p class="d-flex justify-content-center">This is a small test of an Angular application with asynchronous requests
    using Axios. With this application you
    can know how much is missing from the bus and where it is.</p>

<h2 class="d-flex justify-content-center">What you need</h2>
<p class="d-flex justify-content-center">You need an account created in <a href="https://mobilitylabs.emtmadrid.es/"
        target="_blank">https://mobilitylabs.emtmadrid.es/</a></p>
<h2 class="d-flex justify-content-center">Last step</h2>
<p class="d-flex justify-content-center">You should create the data.json file manually in
    ["/src/app/common/data.json"] as shown in the image. </p>
<div class="d-flex justify-content-center">
    <img src="../../../assets/example.png" alt="Example JSON">
</div>