#tableArrivals {
  display: none;
  text-align: center;
  margin: auto;
}

#divStop {
  padding-top: 1%;
  padding-bottom: 1%;
}

#radius {
  display: inline;
  width: auto;
}

#divSearch {
  padding-top: 1%;
  padding-bottom: 1%;
}

#search {
  display: block;
}
